<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
      <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
      </head>

      <body>
<div align = "center">
<h2>Library Book Details</h2>
<tr>
<div align = "center" >
  
     <h3><a  th:href="@{'/new'}">Add new</a></h3>  
  
    </div>
</tr>
<tr>
<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                
                
                 <table class="table">
  <thead class="thead-dark">
    <tr>
       <th>Book ID</th>
            <th>Book Name</th>
            <th>Book Author</th>
            <th>Price</th>
            <th>Edit</th>
             <th>Delete</th>
   </tr>
  </thead>
   <tbody>
      <tr  th:each="book : ${listbook}">
<td th:text="${book.id}">Book ID</td>
<td th:text="${book.bookname}">Book Name</td>
<td th:text="${book.author}">Book Author</td>
<td th:text="${book.price}">Price</td>
<td>
<a th:href="@{'/edit/' + ${book.id}}">Edit</a>
</td>     
<td>
<a th:href="@{'/delete/' + ${book.id}}">Delete</a>
</td>     
</tr>
  
  </tbody>
</table>
 
                    
                 </div>
 
            </div>
 
</tr>
 
</tbody>
</table>
</div>

</html>